body{
    background-position: center;
    background-size: cover;
}
h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color:rgb(245, 245, 130);
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 100px blueviolet;}
    to{box-shadow: 1px 1px 100px rgb(228, 91, 110);}
}